


// Global variables
// $base-h1-font-size:                              $base-h1-font-size-m * 0.85 !default;
// $base-h1-line-height:                            1.2 !default;
$base-h2-font-size-m:                            3rem;
$base-h2-font-size:                              2.25rem;

$base-h3-font-size:                             2.125rem;
$base-h4-font-size:                             1.75rem;
$base-h5-font-size:                             1.125rem;

// $global-background:                             #fff;

// $global-inverse-color:                          #fff;
// $inverse-global-color:                          rgba($global-inverse-color, 0.7);
// $inverse-base-color:                            $inverse-global-color;
// $inverse-base-link-color:                       $inverse-global-color;
// $global-border:                               #e5e5e5;
$base-link-color:                               $global-primary-background;
$base-link-hover-color:                         $global-primary-background;

// $link-text-hover-color:                         lighten($global-color, 25%);

// $grid-divider-border:                           darken($global-border, 15%);

$global-control-height:                         56px;
$form-height:                                   56px;
$form-padding-horizontal:                       20px;

$button-line-height:                             $global-control-height;

// $accordion-item-margin-top:                     0;
// $accordion-title-font-size:                     1.5rem;
// $accordion-title-line-height:                   1.4 !default;
// $accordion-title-color:                         $global-color;
// $accordion-title-hover-color:                   $global-primary-background;
// $accordion-content-margin-top:                  0;


// $button-font-size:                              1rem;
// $button-padding-horizontal:                     40px;
// $button-small-line-height:                      46px;

// // $inverse-base-link-hover-color:                 $inverse-global-emphasis-color;

// // $global-border:                                 $global-secondary-background;
// // $global-font-family:                            'Montserrat', sans-serif;
// // $global-link-color:                             $global-secondary-background;
// // $global-link-hover-color:                       $global-primary-background;
// // $inverse-base-link-hover-color:                 $global-primary-background;
// // $global-small-font-size:                        0.875rem;
// // $smaller-font-size:                             0.9375rem;
// // $xsmall-font-size:                              0.75rem;
                            
// // // Base variables
// // $base-body-font-weight:                         400;
// // $base-heading-font-weight:                      600;
$heading-large-font-size:                       4rem;
$heading-large-font-size-l:                     7.5rem;
// // $heading-xlarge-font-size:                      3.5rem;
// // $heading-xlarge-font-size-l:                    7.5rem;
// // $heading-2xlarge-font-size:                     4.5rem;
// // $heading-2xlarge-font-size-m:                   6.5rem;
// // $heading-2xlarge-font-size-l:                   8rem;
// // $serif-font-family:                             'Playfair Display', serif;
// // $logo-font-size:                                1.5rem;
// // $logo-font-family:                              $serif-font-family;
// // $container-padding-horizontal:                  20px;
// // $container-xsmall-max-width:                    700px;
// // $container-small-max-width:                     960px;
$container-max-width:                            1520px;
// // $base-heading-color:                            #000;
// // $letter-spacing:                                3px;
// // $letter-spacing-small:                          2px;
// // $letter-spacing-xsmall:                         1px;
// // $overlay-primary-background:                     rgba($global-secondary-background, 0.1);
// // $global-inverse-color:                          #fff;
// // $inverse-global-color:                          $global-inverse-color;

// Accordion
// // $accordion-title-color:                         $global-color;
// // $accordion-title-hover-color:                   $global-color;
// // $accordion-title-font-size:                     2rem;
$accordion-content-margin-top:                  0;
// // $accordion-item-margin-top:                     0;
// // $accordion-title-line-height:                   1.4;

// Button variables
$global-control-height:                         47px;
// // $button-font-size:                              $xsmall-font-size;
// $button-default-color:                          $global-dark-background;
// // $button-default-hover-background:               $global-secondary-background;
// // $button-default-hover-color:                    $global-background;
// // $button-default-active-background:              $global-secondary-background;
// // $button-default-active-color:                   $global-background;
$button-default-border:                         $global-dark-background;
$button-default-hover-border:                   $global-dark-background;
$button-default-active-border:                  $global-dark-background;
$button-default-hover-background:               $global-dark-background;
$button-default-hover-color:                    #fff;
$button-default-active-background:              $global-dark-background;

// // $inverse-button-default-hover-background:       $global-background;
// // $inverse-button-default-hover-color:            $global-secondary-background;
// // $inverse-button-default-active-background:      $global-background;
// // $inverse-button-default-active-color:           $global-secondary-background;
// // $form-background:                               transparent;
// // $form-focus-background:                         transparent;

// Navigation variables
$navbar-nav-item-height:                        160px;
$navbar-nav-item-padding-horizontal:            10px;
$navbar-nav-item-text-transform:                  none;
// // $navbar-nav-item-color:                         $global-secondary-background;
// // $navbar-nav-item-hover-color:                   $global-primary-background;
// // $navbar-nav-item-active-color:                  $global-primary-background;
$navbar-nav-item-font-size:                     1.125rem;
// $navbar-toggle-color:                           $global-secondary-background;
// $navbar-toggle-hover-color:                     $global-primary-background;
$inverse-navbar-nav-item-color:                 #fff;
$inverse-navbar-nav-item-hover-color:           $global-primary-background;
$inverse-navbar-nav-item-onclick-color:         $global-primary-background;
$inverse-navbar-nav-item-active-color:          $global-primary-background;
// $inverse-navbar-item-color:                     #fff;
$inverse-navbar-toggle-color:                   $global-primary-background;
$inverse-navbar-toggle-hover-color:             #fff;

// $navbar-dropdown-width:                          250px;
// $navbar-dropdown-margin:                         -40px;
// $navbar-dropdown-padding:                        45px;
$navbar-dropdown-background:                     #fff;
// // $navbar-dropdown-color:                          $global-color !default;

$navbar-dropdown-nav-item-color:                 $global-muted-color;
$navbar-dropdown-nav-item-hover-color:           $global-primary-background;
$navbar-dropdown-nav-item-active-color:          $global-primary-background;
$navbar-dropdown-nav-font-size:                  1.125rem;
$navbar-dropbar-background:                      #fff;

// $nav-header-padding-vertical:                    $nav-item-padding-vertical !default;
// $nav-header-padding-horizontal:                  $nav-item-padding-horizontal !default;
$nav-header-font-size:                           1.313rem;
$dropdown-nav-header-color:                       $global-primary-background;
$nav-item-padding-vertical:                      10px;

$subnav-item-text-transform:                    none;
$subnav-margin-horizontal:                       36px;

$subnav-item-color:                              #000;
$subnav-item-hover-color:                        $global-color;
$subnav-item-active-color:                       $global-color;

// $subnav-divider-margin-horizontal:               $subnav-margin-horizontal !default;
$subnav-divider-border-height:                45px;
// $subnav-divider-border-width:                    $global-border-width !default;
$subnav-divider-border:                         #707070;

// Section variables
// $section-large-padding-vertical:               40px;
// $section-large-padding-vertical-m:             70px;

// // $section-xlarge-padding-vertical:               120px;
// // $section-xlarge-padding-vertical-m:             180px;
// // $section-default-background:                    transparent;

// $nav-primary-item-color:                 $global-primary-background;
// $nav-primary-item-hover-color:           $global-secondary-background;
// $nav-primary-item-active-color:          $global-secondary-background;
// $nav-primary-header-color:               $global-secondary-background;
// $nav-primary-sublist-item-color:         $global-primary-background;
// $nav-primary-sublist-item-hover-color:   $global-secondary-background;
// $nav-primary-sublist-item-active-color:  $global-secondary-background;

$text-lead-font-size:                            1.5rem;
// $inverse-text-lead-color:                       #fff;

$modal-dialog-width:                             800px;
$modal-body-padding-horizontal:                  50px;
$modal-body-padding-vertical:                    50px;

// $notification-width:                             430px;


