<style>
.uk-pingpong-2 h3 {
  color: #F44040;
}
.uk-pingpong-2 .uk-margin-auto-top.uk-text-right {
  text-align: left !important;
}
.uk-pingpong-2 .odd .uk-pingpong-2-image {
  margin-right: 30px;
}
.uk-pingpong-2 .odd .uk-pingpong-2-image::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 100%;
  background-color: #F44040;
  right: -30px;
}
.uk-pingpong-2 .even .uk-pingpong-2-image {
  margin-left: 30px;
}
.uk-pingpong-2 .even .uk-pingpong-2-image::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 100%;
  background-color: #F44040;
  left: -30px;
}

.odd .uk-width-pingpong-2-content .uk-padding-large {
  padding-left: 30px;
}
.even .uk-width-pingpong-2-content .uk-padding-large {
  padding-right: 30px;
}
.uk-testimonials-2 .uk-h2 {
  color: #fff;
}
.uk-testimonials-2 .uk-grid .uk-text-content {
  color: #333;
}
.footer-1 .uk-section-large {
  padding-top: 0;
}
.footer-1 .uk-logo-inverse {
  display: none !important;
}
.footer-1 .uk-logo img:not(.uk-logo-inverse) {
  display: inline !important;
}
</style>