{% if site.data.options.social.twitter and site.data.options.social.twitter != '' %}
<div>
    <a href="{{ site.data.options.social.twitter }}" data-uk-icon="icon: twitter" class="uk-link-text uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}
{% if site.data.options.social.facebook and site.data.options.social.facebook != '' %}
<div>
    <a href="{{ site.data.options.social.facebook }}" data-uk-icon="icon: facebook" class="uk-link-text uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}
{% if site.data.options.social.yelp and site.data.options.social.yelp != '' %}
<div>
    <a href="{{ site.data.options.social.yelp }}" data-uk-icon="icon: yelp" class="uk-link-text uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}
{% if site.data.options.social.instagram and site.data.options.social.instagram != '' %}
<div>
    <a href="{{ site.data.options.social.instagram }}" data-uk-icon="icon: instagram" class="uk-link-text uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}
{% if site.data.options.social.linkedin and site.data.options.social.linkedin != '' %}
<div>
    <a href="{{ site.data.options.social.linkedin }}" data-uk-icon="icon: linkedin" class="uk-link-text uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}
{% if site.data.options.social.pinterest and site.data.options.social.pinterest != '' %}
<div>
    <a href="{{ site.data.options.social.pinterest }}" data-uk-icon="icon: pinterest" class="uk-link-text uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}
{% if site.data.options.social.vimeo and site.data.options.social.vimeo != '' %}
<div>
    <a href="{{ site.data.options.social.vimeo }}" data-uk-icon="icon: vimeo" class="uk-link-text uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}
{% if site.data.options.social.youtube and site.data.options.social.youtube != '' %}
<div>
    <a href="{{ site.data.options.social.youtube }}" data-uk-icon="icon: youtube" class="uk-link-text uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}
{% if site.data.options.social.email and site.data.options.social.email != '' %}
<div>
    <a href="{{ site.data.options.social.email }}" data-uk-icon="icon: mail" class="uk-link-text uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}
{% if site.data.options.social.website and site.data.options.social.website != '' %}
<div>
    <a href="{{ site.data.options.social.website }}" data-uk-icon="icon: link" class="uk-link-text uk-icon" target="_blank" rel="noopener noreferrer"></a>
</div>
{% endif %}