<section id="block-{{ forloop.index }}" class="uk-cta-1 uk-section-{{ block.section | default: 'xlarge' }} uk-position-relative uk-background-cover uk-background-{{ block.background.color | default: 'default' }}" 
  style="{% if block.background.image %}background-image: url({% if block.background.image contains '#' %}{{ block.background.image }}{% else %}{{ block.background.image | absolute_url }}{% endif %});{% endif %}">
  {%- if block.background.overlay.color != '' -%}
    <div class="uk-position-cover{% if block.overlay_size == 'center' %} uk-overlay-center{% endif %}" style="background: {{ block.background.overlay.color }}; opacity: {{ block.background.overlay.opacity | default: '0.6' }}"></div>
  {%- endif -%}
  <div class="uk-container uk-position-relative">

    {% if block.heading != empty or block.text != empty %}
      <div class="uk-margin-medium-bottom uk-container-small{% if block.align == 'center' %} uk-margin-auto{% endif %} uk-text-{{ block.align | default: 'left' }} uk-{{ block.color | default: 'dark' }}" data-uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true">
        {% if block.image != empty %}
          <img class="uk-margin-medium-bottom" data-src="{% if block.image contains 'http' %}{{ block.image }}{% else %}{{ block.image | absolute_url }}{% endif %}" data-width data-height src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-uk-img alt="{{ block.heading }}">
        {% endif %}
        
        {% if block.heading != empty %}
          <h2 class="uk-margin-remove uk-section-heading">{{ block.heading }}</h2>
        {% endif %}
        {% if block.text != empty %}
          <div class="uk-text-lead{% if block.heading %} uk-margin-top{% endif %}">{{ block.text | markdownify  }}</div>
        {% endif %}
        {% if block.content != empty %}
          <div class="uk-text-content uk-margin-medium-top">{{ block.content | markdownify  }}</div>
        {% endif %}
        
      </div>
    {% endif %}

    {% if block.appointment_button %}
      <div class="uk-text-center" data-uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true; delay: 400">
        <a class="uk-button uk-button-primary" href="#" data-uk-toggle="target: #modal-appointment">Request an Appointment</a>
      </div>
    {% endif %}    

    {% if block.button.url != empty %}
      <div class="uk-text-{{ block.align | default: 'left' }}" data-uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true; delay: 400">
        <a class="uk-button uk-button-primary" href="{% if block.button.url contains 'http' %}{{ block.button.url }}{% else %}{{ block.button.url | relative_url }}{% endif %}"{% if block.button.blank %} target="_blank" rel="noopener noreferrer" {% endif %}>{{ block.button.text }}</a>
      </div>
    {% endif %}    
    
  </div>
</section>