<section id="block-{{ forloop.index }}" class="uk-faq-2 uk-section-large uk-position-relative uk-background-cover uk-background-{{ block.background.color | default: 'default' }}" 
  style="{% if block.background.image %}background-image: url({% if block.background.image contains '#' %}{{ block.background.image }}{% else %}{{ block.background.image | absolute_url }}{% endif %});{% endif %}">
  {%- if block.background.overlay.color != '' -%}
    <div class="uk-position-cover" style="background: {{ block.background.overlay.color }}; opacity: {{ block.background.overlay.opacity | default: '0.6' }}"></div>
  {%- endif -%}
  <div class="uk-container uk-position-relative uk-{{ block.color | default: 'dark' }}">

    {% if block.heading != empty %}
      <div class="uk-section-heading-container uk-margin-large-bottom uk-container-small{% if block.align == 'center' %} uk-margin-auto uk-text-center{% endif %} uk-{{ block.color | default: 'dark' }}">
        {% if block.superheading != empty %}
          <div class="uk-section-superheading uk-margin-xsmall-bottom">{{ block.superheading }}</div>
        {% endif %}                
        {% if block.heading != empty %}
          <h2 class="uk-section-heading uk-margin-remove-top uk-margin-remove-bottom">{{ block.heading }}</h2>
        {% endif %}
        {% if block.text != empty %}
          <div class="uk-text-lead{% if block.heading %} uk-margin-xsmall-top{% endif %}">{{ block.text | markdownify  }}</div>
        {% endif %}
      </div>
    {% endif %}

    <ul class="uk-accordion-faq uk-child-width-1-2@m" data-uk-grid data-uk-accordion>
      {% for item in block.faqs %}
        <li class="uk-margin-remove-top">
          <a class="uk-accordion-title" href="#"><span>{{ forloop.index }}</span>{{ item.heading }}</a>
          <div class="uk-accordion-content uk-text-content">{{ item.content | markdownify }}</div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>