<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    {% if site.data.options.sticky_cta.offer or site.data.options.sticky_cta.appointment or site.data.options.sticky_cta.phone %}
      {% include cta-sticky.html %}
    {% endif %}
  
    {% include header.html %}

    {{ content }}

    {% if site.data.footer.layout == 'layout-2' %}
      {% include footer-2.html %}
    {% else %}
      {% include footer-1.html %}
    {% endif %}

    {% include cta-call.html %}

    {% include nav-mobile.html %}
    {% include modal-appointment.html %}
    {% include modal-offer.html %}

    </body>

</html>
